{% extends 'layout.html'%}
{% block title%} About Us {% endblock %}
{% block content%}

<h1>About Us</h1>
    
<h2>Inspiration Behind the Project:</h2>

<p>Our journey towards building this platform began with a simple realization that the traditional methods of communication and collaboration in educational settings were ripe for innovation. As former students ourselves, we vividly recall the challenges of staying organized amidst a deluge of assignments, the frustration of missing crucial announcements, and the disconnect between school and home.<p>

<p>During our research, we also considered the challenges that parents go through following up with their children's performance and progress, and also the ease of teachers issuing assignments and deadlines. This also brought the issue of parents' ability to communicate with specific course teachers and vice versa, and including accessibility made so much sense.<p>

<p>Driven by a passion for transforming these challenges into opportunities, we embarked on this project with a shared vision to create a digital ecosystem that seamlessly connects parents, teachers and students, empowering them to communicate effectively, collaborate effortlessly, and succeed academically.</p>

<h2>Timeline and Purpose:</h2>

<p>Over the course of one and a half months, we poured our hearts and minds into this endeavor, meticulously designing and developing each feature with the user experience at the forefront. What began as a spark of inspiration evolved into a full-fledged project, culminating in the creation of this platform.</p>

<p>This project is not merely an academic exercise; it is a testament to our dedication, creativity, and perseverance. As Portfolio Project participants at Holberton School, we are proud to present this platform as a showcase of our skills and a reflection of our commitment to excellence in software development.<p>

</div>
<div class="col-md-4">
    <a href="https://holbertonschool.com/" target="_blank">Portfolio Project for Holberton School</a>
</div>



<h2>Team Members</h2>
<ul>
    <li>Elizabeth Gatura</li>
    <li>Blair Muhindi</li>
</ul>

<ul>
    <li><a href="https://www.linkedin.com/in/elizabeth-gatura">Elizabeth Gatura (LinkedIn)</a></li>
    <li><a href="https://github.com/Mutahe">Elizabeth Gatura (GitHub)</a></li>
    <li><a href="https://x.com/Lizgatura?t=IeJ00yHXlVyFusn31omjng&s=09">Elizabeth Gatura (Twitter)</a></li>

    <li><a href="https://www.linkedin.com/in/blairmuhindi">Blair Muhindi (LinkedIn)</a></li>
    <li><a href="https://github.com/Isiji">Blair Muhindi (GitHub)</a></li>
    <li><a href="https://x.com/basterblair?t=9W7iu8Zh3zyhYfO1dojPsA&s=08">Blair Muhindi (Twitter)</a></li>

**GitHub Repository:**

<li><a href="https://github.com/Isiji/EduConnect_System">EduConnect System</a></li>

{% endblock %}