{%extends 'layout.html'%}
{%block title%} Student Panel {%endblock%}
{%block content%}
<div class="container">
    <h1>Student Panel</h1>
    <p>Welcome to the student panel, {{session['username']}}</p>
    <p>Here you can view the assignments</p>
    <div class="row">
        <div class="col-md-4">
            <a href="{{url_for('main.view_assignment')}}" class="btn btn-primary">View Assignment</a>
        </div>
        <div class="col-md-4">
            <a href="{{url_for('students.submit_assignment')}}" class="btn btn-success">Submit Assignment</a>
        </div>
        <div class="col-md-4">
            <a href="{{url_for('main.logout')}}" class="btn btn-danger">Logout</a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-4">
            <a href="{{url_for('main.account')}}" class="btn btn-primary">Account</a>
        </div>
</div>
{%endblock%}