{%extends 'layout.html'%}
{%block title%} View Teachers {%endblock%}
{%block content%}
<div class="container">
    <h1>Teachers</h1>
    <p>Here you can view the teachers</p>
    <div class="row mt-3">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Teacher ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for teacher in teachers %}
                    <tr>
                        <td>{{teacher.id}}</td>
                        <td>{{teacher.first_name}}</td>
                        <td>{{teacher.last_name}}</td>
                        <td>{{teacher.email}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}