{% extends 'layout.html' %}
{% block title %} Register Page {% endblock %}
{% block content %}

<h1>Register Page</h1>
<p>Register as a student or parent</p>

    <div class="content-section">
        <div>
            <p> To register as a student, click the button below</p>
            <a href="/register_student" class="btn btn-primary">Register as Student</a>
        </div>
        <br>
    </div>
    <div class="content-section">
        <div>
            <p> To register as a parent, click the button below</p>
            <a href="/register_parent" class="btn btn-primary">Register as Parent</a>
        
        </div>

    </iv>
{% endblock %}