{%extends 'layout.html'%}
{%block title%} Student Panel {%endblock%}
{%block content%}

    <h1>Student Panel</h1>
    <p>Welcome to the EduConnect student panel!</p>
    <div id = "options">
        <button onclick="viewMarks()">View Marks</button>
        <button onclick="viewAssignments()">View Assignments</button>
        <button onclick="viewPerformance()">View Performance</button>
        <button onclick="viewAssignments()">View Assignments</button>
        <button onclick="viewClasses()"> View Classes</button>
    </div>

{%endblock%}