{%extends 'layout.html'%}
{%block title%} Teacher Panel {%endblock%}
{%block content%}

    <h1>Teacher Panel</h1>
    <p>Welcome to the EduConnect teacher panel!</p>
    <div id = "options">
        <button onclick="registerStudent()">Register a new student </button>
        <button onclick="viewAllStudents()">View all students</button><br>
        <button onclick="viewAllTeachers()">View all teachers</button>
        <button onclick="viewAllSchools()">View all schools</button><br>
        <button onclick="viewAllClassrooms()">View all classrooms</button>
        <button onclick="inputMarks()">input student marks</button><br>
        <button onclick="viewStudentMarks()">view student marks</button>
        <button onclick="updateMarks()">Update Marks</button><br>
        <button onclick="postAssigment()">Post Assignment</button>
        <button onclick="viewAssignment()">View Assignment</button>
        <button onclick="viewStudentPerfomance()">View Student Perfomance</button>
    </div>

{%endblock%}